# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Build Python
backend/*.egg-info/
backend/dist/
backend/build/

# Variáveis de ambiente genéricas
*.env
!*.env.example